<div class="header">
    <div class="sideBtn">
        <img width="39" src="../assets/icon/category.png" (click)="moveSide()">
        <img width="39" src="../assets/icon/search.png" (click)="openSearch()">
    </div>
</div>

<div class="main">
    <router-outlet></router-outlet>
</div>

<div class="player">
    <app-player></app-player>
</div>

<div id="layer" (click)="$event.stopPropagation();moveSide();">
    <div id="side" (click)="$event.stopPropagation();">
        <app-sidemenu></app-sidemenu>
    </div>
</div>