<div style="margin:3% ;padding: 2%; background-color: white;border-radius: 15px;">
    aaa
</div>
<div style="margin:3% ;padding: 2%; background-color: white;border-radius: 15px;">
    <div class="song-list-item" style="height: 32px;padding: 10px 3px">
        <div class="serial">1</div>
        <div class="songinfo" style="float: left;flex-direction: column;margin-left: 10px;">
            <div style="font-size:18px;">云烟成雨</div>
            <div style="font-size:13px;color: #494949;">房东的猫 - 云烟成雨</div>
        </div>
        <div class="opearate" style="float: right;">.</div>
    </div>
</div>